BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 8
UseTab: Always
---
Language: Cpp
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Right
AlignOperands: true
AllowShortFunctionsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
IndentCaseLabels: false
---
Language: Proto
---
Language: TextProto
BasedOnStyle: Google
IndentWidth: 8
UseTab: Always
ColumnLimit: 0
