mode: ONCE
chroot: "/"
is_root_rw: false
hostname: "TEST-NS"
cwd: "/lib"
bindhost: "::1"
max_conns_per_ip: 10
time_limit: 100
daemon: false
keep_env: true
silent: false
skip_setsid: false
pass_fd: 100
pass_fd: 3
pivot_root_only: false
disable_no_new_privs: false
rlimit_as: 128
rlimit_core: 0
rlimit_cpu: 10
rlimit_fsize: 0
rlimit_nofile: 5
rlimit_stack: 1
