Source: nsjail
Section: utils
Priority: optional
Maintainer: Ishan Patel <ishan.patel1998@gmail.com>
Build-Depends: debhelper (>= 10), protobuf-compiler, libprotobuf-dev, libnl-route-3-dev, pkg-config, bison, flex, g++, make
Standards-Version: 4.0.0
Homepage: https://github.com/google/nsjail

Package: nsjail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A light-weight process isolation tool
 NsJail is a process isolation tool for Linux. It makes use of Linux
 namespaces and seccomp-bpf syscall filters (with help of the kafel
 library) to sandbox processes.
